/* BASIC STYLES HERE */

.todo-styling {
  background: rgba(223, 249, 253, 0.5);
  max-height: 600px;
  padding-left: 20px;
  margin-top: 3em;
  margin-left: 2em;
  border-radius: 40px 40px 40px 40px;
  overflow-y: scroll;
}

.center-col {
  margin-top: 3em;
  justify-content: space-around;
  max-width: max-content;
}

.time-styling {
  background: rgba(223, 249, 253, 0.5);
  height: fit-content;
  border-radius: 15px 15px 15px 15px;
  padding: 10px;
  text-align: center;
  font-size: x-large;
  font-family: 'Secular One', sans-serif
}

.quote-styling {
  background: rgba(223, 249, 253, 0.5);
  height: fit-content;
  border-radius: 15px 15px 15px 15px;
  margin-top: 1em;
  padding: 10px;
  text-align: center;
}

h4 {
  font-family: 'Signika Negative', sans-serif;
}

h2 {
  font-family: 'Secular One', sans-serif;
}

.hide{
  opacity: 0;
  transition: all .5s ease;
}

.hide-container:hover .hide{
  opacity: 1;
}

.author{
  float: right;
  width: fit-content;
  border-style: dotted;
  font-family: 'Signika Negative', sans-serif;
  padding: 10px;
}